<%= render 'home/navbar' %>


<div class="text-center container d-flex align-items-center justify-content-center flex-column" style="height: 100vh;">
    <p class="display-1 fw-bold">Hey, I'm Riddhesh</p>

    <div class="col-5 text-center">
        <p class="fs-4 pb-0 mb-1">I am an full-stack web developer. Feel free to take a look at my latest projects.</p>
    </div>
    
    <p class="text-secondary fs-6">Remotely available - riddhesh.maha@gmail.com</p>
</div>

<div>
    <div class="bg-dark pt-5 pb-5">
        <div class="container text-light">
            <%= render 'about/about_content' %>
        </div>
    </div>
    
    <div class="container pb-5">
        <%= render 'projects/projects_content' %>
        <%= render 'skill/skills' %>
        <%= render 'certificates/certificates_content' %>
        <%= render 'resume/resume_content' %>
        <%= render 'work/work_content' %>
    </div>

    <div class="bg-dark pt-4 pb-1 text-light">
        <div class="container">
            <%= render 'footer/footer' %>
        </div>
    </div>
</div>
