<p class="display-3 fw-bold text-center mb-4 mt-5">Projects</p>

<div class="row g-3 m-0">
    <% @projects.each do |project_data| %>
        <div class="col-md-4 col-12">
            <div class="card shadow-sm text-dark h-100">
                <div class="card-img-top d-flex align-item-center justify-content-center" style="min-height: 10rem; max-height: 10rem;">
                    <img class="col-3 m-4" src="<%= project_data[:logo_link] %>" alt="Card image cap">
                </div>
                
                <div class="card-body d-flex flex-column">
                    <div style="min-height: 25%;">
                        <% project_data[:tags].each do |tag| %>
                            <span class="<%= tag[:name] %> <%= tag[:color] %> p-2 badge badge-primary mb-2"><%= tag[:name] %></span>
                        <% end %>
                    </div>
                    
                    <h5 class="card-title pt-3 fw-bold"><%= project_data[:name] %></h5>
                    <p class="card-text text-justify flex-fill"><%= project_data[:description] %></p>

                    <div class="mb-0">
                        <% project_data[:linkes].each do |link_data| %>
                            <a href="<%= link_data[:link] %>" target="_blank" class="btn btn-primary"><%= link_data[:name] %></a>
                        <% end %>
                    </div>
                </div>
            </div>  
        </div>
    <% end %>
</div>